<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <span><%= @product.quantity %> in stock at </span>
        <span><%= humanized_money_with_symbol @product.price %></span>
      </div>
      <div class="price"> 
          <% if @product.quantity == 0 %>
            <div class="soldout">Sold Out</div>         
          <% else %>
        <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn', id: "data-testid-add-cart-#{@product.id}", method: :post do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>   
        <% end %>       
      </div>
    </div>
  </article>
  <hr>
  <article class="reviews">
    <h3 class="font-weight-bold">Product Reviews</h3>
    <% if @reviews.empty? %>
      <div>No reviews yet for this product, have something to say write one?</div>
    <% else %>  
      <% @reviews.each do |r| %>
      <div class="border rounded p-3 my-3 review-container">
        <header class="d-flex flex-lg-row justify-content-between ">
          <span class="r-name"><%= r.user.first_name %> <%= r.user.last_name %></span>
          <div>Rating: <%= r.rating %>/5</div>  
        </header>
        <p class="mt-3"><%= r.description %></p>
      </div>
      <% end %>
    <% end %>
  </article>

</section>
